@import "tailwindcss";

@theme {
  --animate-fadeIn: fadeIn 0.8s ease-out;
  --animate-slideUp: slideUp 0.6s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

html,
body,
#root {
  height: 100%;
  background-color: #020617;
}